@media (max-width:768px) {

.navbar {
    flex-direction:column;
    gap:20px;
}

.nav-links {
    flex-direction:column;
    text-align:center;
}

.hero h1 {
    font-size:2rem;
}

.hero-buttons {
    flex-direction:column;
}

.cards {
    padding:25px;
}

}